.tag-common {
  border-radius: 4px;
  border-style: none;
  font-weight: 600;
  font-size: 0.75rem;
  height: 1.5rem;
  border-width: 1px;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  transition: ease-in-out 0.3s;
  width: max-content;
  user-select: none;
  letter-spacing: 0.1em;
}

.tag {
  background-color: var(--tag-background-color);
  color: var(--tag-color);
}

.tag-inverted {
  background-color: var(--tag-color);
  color: var(--tag-background-color);
}

.tag:hover {
  color: var(--tag-background-color);
  background-color: var(--tag-color);
  cursor: pointer;
}

.tagSet {
  display: flex;
  flex-direction: row;
  height: min-content;
}

.tag-inverted:hover {
  color: var(--tag-color);
  background-color: var(--tag-background-color);
  cursor: pointer;
}
