.title {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: white;
  margin-top: 20vh;
  border-radius: 10px;
  overflow: hidden;
}

.glass {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: 100vw 70vh;
  background-position: center;
  filter: blur(10px);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

.text {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.subText {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--subtext-color);
}

.heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imageForeground {
  /* background-color: var(--image-foreground-background-color); */
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.tagset {
  margin-left: -0.25em;
  margin-bottom: 10px;
}

.hr {
  width: 100px;
}

.underline {
  --animation: ease-in-out 0.25s; 
  position: relative;
  color: var(--heading-color);
  text-decoration: none;
  max-width: max-content;
  margin: 0;
  transition: var(--animation);
}

.underline:hover {
  color: var(--text-color);
  cursor: pointer;
}
.underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--heading-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: var(--animation);
}

.underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
  background-color: var(--text-color);
}