.readTime {
  text-align: end;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.small {
  grid-column: span 1;
  @media (min-width: var(--MediumWidth)) and (orientation: landscape) {
    grid-column: span 2;
  }
}

.medium {
  grid-column: span 1;

  @media (min-width: var(--MediumWidth)) and (orientation: landscape) {
    grid-column: span 2;
  }

  @media (min-width: var(--LargeWidth)) and (orientation: landscape) {
    grid-column: span 3;
  }
}

.large {
  grid-column: span 1;

  @media (min-width: var(--MediumWidth)) and (orientation: landscape) {
    grid-column: span 4;
    display: flex;
  }

  @media (min-width: var(--LargeWidth)) and (orientation: landscape) {
    grid-column: span 6;
    display: flex;
  }
}

.details {
  padding: 10px;

  @media (min-width: var(--LargeWidth)) and (orientation: landscape) {
    width: 35%;
  }
}

.largeImage {
  background-color: black;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 200px;

  @media (min-width: var(--MediumWidth)) and (orientation: landscape) {
    border-radius: 10px 0 0 10px;
    height: 300px;
    /* width: 50%; */
  }

  @media (min-width: var(--LargeWidth)) and (orientation: landscape) {
    border-radius: 10px 0 0 10px;
    /* width: 65%; */
  }
}

.hoverOpacity {
  opacity: 0.75;
  transition: ease-in-out 0.25s;

  &:hover {
    opacity: 1;
  }
}

.largeImageContainer {
  position: relative;
  border-radius: 10px 10px 0 0;
  min-width: 400px;

  @media (min-width: var(--MediumWidth)) and (orientation: landscape) {
    border-radius: 10px 0 0 10px;
    width: 50%;
  }

  @media (min-width: var(--LargeWidth)) and (orientation: landscape) {
    border-radius: 10px 0 0 10px;
    width: 65%;
  }
}

.imageContainer {
  position: relative
}

.image, .imageContainer {
  background-color: black;
  border-radius: 10px 10px 0 0;
  height: 200px;
}

.tagsSmall, .tagsMedium, .tagsLarge {
  position: absolute;
  padding: 10px;
  bottom: 0;
  /* pointer-events: none; */
}

.tagsLarge {
  @media (min-width: var(--MediumWidth)) and (orientation: landscape) {
    right: 0;
    top: 0;
  }
}

.heading{
  --animation: ease-in-out 0.25s;
  position: relative;
  color: var(--heading-color);
  text-decoration: none;
  max-width: max-content;
  margin: 0;
  transition: var(--animation);
  

  &:hover {
    color: var(--tag-color);
    cursor: pointer;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    color: var(--heading-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: $animation;
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
    background-color: #2e3e4d;
    color: var(--tag-color);
  }
}