@import './common.module.scss';

// .card {
//   box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.1),
//     1px 3px 8px rgba(39, 44, 49, 0.03);
//   border-radius: 10px;
//   // margin-left: 5%;
//   // margin-right: 5%;
//   width: 95%;
//   margin-left: auto;
//   margin-right: auto;
//   position: relative;
//   margin-top: -25vh;
//   // padding-bottom: 5vh;
//   background-color: white;
//   padding: 5%;

//   @media (prefers-color-scheme: dark) {
//     background-color: black;
//   }

//   @media (min-width: $MediumWidth) and (orientation: landscape) {
//     padding: 50px;
//   }

//   @media (min-width: 950px) and (orientation: landscape) {
//     // width: 900px;
//     // padding: 50px;
//     // margin-left: 10%;
//     // margin-right: 10%;
//   }

//   @media (min-width: $LargeWidth) and (orientation: landscape) {
//     // padding: 50px;
//     // margin-left: 20%;
//     // margin-right: 20%;
//   }
// }

.card {
  // max-width: 1080px;
  // margin: -200px auto 0 auto;
  padding: 40px;
}

.container {
  position: relative;
  // padding-bottom: 5vh;
  max-width: 1080px;
  margin: -200px auto 0 auto;
  padding: 0 25px 5vh 25px;
}

.title {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: white;
  margin-top: 20vh;
  border-radius: 10px;
  overflow: hidden;

  @media (min-width: $MediumWidth) and (orientation: landscape) {
  }
}

.glass {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: 100vw 70vh;
  background-position: center;
  filter: blur(10px);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  // filter: blur(10px);
  // filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='10' /></filter></svg>#svgMask");
}

.text {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.subText {
  font-size: 12px;
  // letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #717375;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imageForeground {
  @media (prefers-color-scheme: dark) {
    background-color: rgba(0, 0, 0, 0.7);
  }

  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

.tagset {
  margin-left: -0.25em;
  margin-bottom: 10px;
}

.hr {
  width: 100px;
}

$animation: ease-in-out 0.25s;
$color: white;

.underline{
  position: relative;
  color: #000;
  @media(prefers-color-scheme: dark) {
    color: white;
  }
  text-decoration: none;
  max-width: max-content;
  margin: 0;
  transition: $animation;
  

  &:hover {
    color: $color;
    @media (prefers-color-scheme: dark) {
      color: #d9dee2;
    }
    cursor: pointer;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    @media(prefers-color-scheme: dark) {
      background-color: white;
    }
    visibility: hidden;
    transform: scaleX(0);
    transition: $animation;
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
    background-color: $color;
    @media (prefers-color-scheme: dark) {
      background-color: #d9dee2;
    }
  }
}