.background {
  background-color: var(--jumbotron-background-color);
  height: 100%;
}

/* .jumboContainer {
  padding-top: 45px;
} */

.foreground {
  top: 45px;
  color: white;
  display: flex;
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatarContainer {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
}

.avatar {
  margin-bottom: 10px;
  border-radius: 50%;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  transform: scale(1);
  transition: all 0.25s ease-in-out;
  filter: grayscale(70%);
  
}

.avatar:hover {
  border-color: gold;
  transform: scale(1.1);
  transition: all 0.25 ease-in-out;
  filter: none;
}

.container {
  min-height: 100vh;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
}

.socialMedia > a {
  margin-left: 15px;
  margin-right: 15px;
}

.mediaIcon {
  color: white;
  transition: ease-in-out 0.25s;
}

.articleQuantity {
  margin-bottom: 15px;
}

.heading {
  margin-top: 5px;
  margin-bottom: 15px;
}

.bio {
  /* margin-top: 10px; */
  max-width: 200px;
}

.hr {
  width: 100px;
  margin: 25px auto;
}