.ol {
  counter-reset: item;
}
/* li {
	display: block;
	color: #666666;
} */
.li:before {
  content: counters(item, '.') ' ';
  counter-increment: item;
  /* font-weight: bold; */
  font-style: italic;
}
