.background {
  background-color: #100e17;
  height: 100%;
  width: 100%;
}

.galleryContainer {
  margin-top: -15vh;
  position: relative;
}

.foreground {
  text-align: center;
  position: relative;
  /* margin-top: -10vh; */
  /* bottom: 5vh; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--tagColor);
}

.desc {
  max-width: 300px;
  margin: 0 auto;

}

.desc > p {
  margin-top: 0px;
}

.hr {
  width: 100px;
  margin: 50px auto;
}
