.card {
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  position: relative;
  /* width: max-content; */
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  background-color: var(--card-background-color);

  width: 100%;
  height: 100%;

  color: var(--heading-color);
}

.card:hover {
  opacity: 1;
}
