.topbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #c6c9ee;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.child {
  text-align: center;
  vertical-align: middle;
  display: inline;
}

.child a {
  display: block;
  padding: 10px;
}
