.container {
  position: relative;
  overflow: hidden;
  background-color: black;
}

.background {
  position: relative;
  filter: brightness(0.7) blur(3px);
  width: 100%;
  height: 100%;
}

.foreground {
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
}
