.copyright {
  --fa-secondary-color: black;
}

@media (--medium-viewport) and (orientation: landscape) {
  .container {
    /* padding: 5px 10% 50px 10%; */
    padding: 10px 25px;
    justify-content: space-between;
    align-items: inherit;
    flex-direction: row;
  }
}

@media (--large-viewport) and (orientation: landscape) {
  .container {
    max-width: 1080px;
  }
}

.links {
  display: flex;
  position: relative;
  margin: 0 0 16px 0;

}

@media (--medium-viewport) and (orientation: landscape) {
  .links {
    margin: auto 0;
  }
}

/* .link {
  position: relative;
  margin-left: 20px;
} */

.link > a {
  text-decoration: none;
  color: white;
}

.divider::before {
  content: '';
  position: absolute;
  top: 11px;
  left: -11px;
  display: block;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 100%;
}

.heading{
  position: relative;
  text-decoration: none;
  width: max-content;
  margin: 0;
  transition: ease-in-out 0.25s;
}

.heading:hover {
  color: white;
  cursor: pointer;
}

.heading:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: ease-in-out 0.25s;
}

.heading:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
