.highlight-code-line-dark {
  background-color: #022a4b;
  display: block;
  /* width: 100%; */
  padding-right: 1.3125rem;
  padding-left: 1.0625rem;
  border-left: 0.25rem solid #ffa7c4;
  margin-left: -1.3125rem;
  margin-right: -1.3125rem;
}

.highlight-code-line-light {
  background-color: lightgrey;
  display: block;
  padding-right: 1.3125rem;
  padding-left: 1.0625rem;
  border-left: 0.25rem solid #ffa7c4;
  margin-left: -1.3125rem;
  margin-right: -1.3125rem;
}

@font-face {
  font-family: 'Cascadia Code PL';
  src: url(../../assets/fonts/CascadiaCodePL.ttf);
  font-display: swap;
}

.code {
  padding: 1.3125rem;
  font-family: 'Cascadia Code PL', monospace;
  tab-size: 2;
  overflow: auto;
  font-size: small;

  @media (--medium-viewport) and (orientation: landscape) {
    font-size: smaller;
  }

  @media (--large-viewport) and (orientation: landscape) {
    font-size: unset;
  }
}

.wrap {
  white-space: pre-wrap;
  word-break: break-word;
}
